.container {
    justify-content: center;
    background-image: url("/Assets/Slime/Images/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#stats {
    width: 20rem;
    height: 3rem;
    margin-top: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: tomato;
}

#slime-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slime {
    align-self: center;
}

#controls{
    width: 20rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

#controls button {
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: -.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}

#controls button:hover {
    filter: brightness(0.9);
}

#controls button:nth-child(1) {
    background-image: url('/Assets/Slime/Images/FeedButtons.png');
}

#controls button:nth-child(2) {
    background-image: url('/Assets/Slime/Images/PlayButtons.png');
}

#controls button:nth-child(3) {
    background-image: url('/Assets/Slime/Images/SleepButtons.png');
}