.chat-window {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background-color: transparent;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-image: url("/Assets/Slime/Images/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 2.2rem;
}

.chat-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats {
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    top: 0;
    margin-top: .5rem;
}

.stats p {
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    font-size: 0.8rem;
    text-align: center;
}

.stats img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.1rem;
}

#slime-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slime {
    align-self: center;
}

.chat-controls {
    position:absolute;
    bottom: 0;
    margin-bottom: 0.8rem;
    width: 100%;
    align-self: center;
    
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

.chat-controls button {
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1rem;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}

.chat-controls button:hover {
    filter: brightness(0.9);
}

.chat-controls button:nth-child(1) {
    background-image: url('/Assets/Slime/Images/FeedButtons.png');
}

.chat-controls button:nth-child(2) {
    background-image: url('/Assets/Slime/Images/PlayButtons.png');
}

.chat-controls button:nth-child(3) {
    background-image: url('/Assets/Slime/Images/SleepButtons.png');
}

.low-Brightness{
    filter: brightness(0.5);
}