* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0rem 2rem 2rem 0rem;
}
.logo{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #f0b427;
    font-weight: bold;
    padding-right: 2rem;
}

.logo img {
    width: 1rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #f0b427;
    text-decoration: underline;
}

.empty-Button {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
    text-decoration: none;
    font-size: 1rem;

    align-items: center;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: rgb(82,82,82);

    text-align: left;
    align-self: flex-start;

    margin: 0.4rem 0rem;
}



.section-Blog {
    width:90%;
    height: auto;
    padding: 1rem 2rem;
    margin: 0.5rem 0rem;
    justify-content: flex-start;
    text-align: left;
}

.article {
    background-color: blue;
    width: auto;
    height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.blog-card {
    background-color: #333;
    border-color: #f0b427;
    border-style: solid;
    border-radius: .5rem;

    width: 100%;
    height: 12rem;
    display: flex;
    padding: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.blog-card:hover{
    cursor:pointer;
}

.blog-card:hover .blog-card-img img{
    transform: scale(1.25) rotate(10deg);
    transition: transform 0.5s ease;
}

.blog-card-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f0b427;
    padding: 5px 10px;
    border-radius: .1rem .1rem .5rem .1rem;
    color: #333;
    font-size: 14px;
    z-index: 1;
}

.blog-card-img {
    flex-shrink: 0;
    width: 15rem;
    height: 9rem;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.blog-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;

    transition: transform 0.5s ease;
}

.blog-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-left: 20px;
}

.blog-card h4 {
    color: #BBBBBB;
    font-size: .8rem;
    margin-top: -1rem;
    align-self: flex-end;
}

.blog-card h2 {
    color: white;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: #f0b427;
    text-decoration: none;
}

.blog-card p{
    font-size: .8rem;
    text-align: justify;
}

.read-more {
    color: #BF5AF2;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.read-more span {
    font-size: 1.2rem;
    margin-left: 5px;
}