* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    width: 60%;
    height: auto;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-Contact{
    background-color: tomato;
}

.contact-Title{
    font-size: 1.5rem;
    font-weight: bold;

    margin: 0.4rem 0rem;
}

form{
    background-color: yellow;
    width: 100%;
}

form textarea{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;

    width: 100%;
    height: auto;
    resize: none;
    box-sizing: border-box;
}