.section-Contact{
    backdrop-filter: blur(30px);
    border-radius: 2rem;
    margin-top: 2rem;
}

.contact-Title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin: 2rem 0 0 0;
    text-decoration: none;
}

.contact-Subtitle{
    font-size: .9rem;
    margin: 0 0 2rem 0;
    text-align: center;
    align-self: center;
    width: 50%;
    height: auto;
}

form{
    width: 100%;
    margin: 0rem 0rem 2rem 0rem;
    padding-left: 2rem;
    justify-content: left;
    align-items: left;
    text-align: left;
}

form p{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
}

form textarea{
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;
    width: 90%;
    height: 10rem;
    resize: none;
    box-sizing: border-box;
}

form textarea:hover{
    outline: none;
}

form textarea:focus{
    outline: none;
}

form input{
    width: 90%;
    height: 2rem;
    text-align: justify;
    padding-left: 0.7rem;
    border-radius: .4rem;
}

form input:hover{
    outline: none;
}

form input:focus{
    outline: none;
}

.form-Button{
    width: 30%;
    height: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (width < 768px) {
    .contact-Title {
        font-size: 1.2rem;
    }

    .contact-Subtitle {
        font-size: 0.8rem;
        width: 70%;
    }

    form {
        padding-left: 1rem;
    }

    form textarea, form input {
        width: 100%;
    }

    .form-Button {
        width: 50%;
    }
}

@media (width < 530px) {
    .contact-Title {
        font-size: 1rem;
    }

    .contact-Subtitle {
        font-size: 0.7rem;
        width: 90%;
    }

    form {
        padding-left: 0.5rem;
    }

    .form-Button {
        width: 70%;
    }
}