* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0rem 2rem 2rem 0rem;
}

.logo{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #f0b427;
    font-weight: bold;
    padding-right: 2rem;
}

.logo img {
    width: 1rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #f0b427;
    text-decoration: underline;
}

.empty-Button {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
    text-decoration: none;
    font-size: 1rem;

    align-items: center;
}

footer{
    margin: 1rem;
    padding: 1rem 0;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text{
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    margin: 1rem 0;
    text-align: center;
    display: inline-block;

    backdrop-filter: blur(30px);
}

section {
    display: flex;
    width: 85%;
    height: auto;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    width: 60%;
    height: auto;
    padding: 1rem 2rem;
    margin: 0.5rem 0rem;
    
    justify-content: flex-start;
    text-align: left;
}

.section {
    width: 60%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 2rem;

    text-align: center;
    line-height: 1.5rem;
    text-indent: 1.5rem;
}

.section-links{
    width: 52%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 2rem;

    text-align: center;
    line-height: 1.5rem;
    text-indent: 1.5rem;
}

a.links {
    text-decoration: underline;
    text-decoration-thickness: 0.09rem;
    font-weight: bold;
}

.links-Social{
    display: flex;
    gap: 0rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    align-self: flex-start;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: rgb(82,82,82);

    text-align: left;
    align-self: flex-start;

    margin: 0.4rem 0rem;
}

.h2-Projects{
    margin: 1rem 0 -1rem 0;
}

h3{
    padding: 0.5rem 0;

    font-size: 1rem;
    text-align: justify;

    text-decoration: underline;
    text-decoration-color: rgb(82,82,82);
    text-decoration-thickness: 0.15rem;
}

h3.subtitle{
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    align-self: flex-start;

    margin: -0.5rem 0rem;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    margin-top: 20px;

    display: inline-block;
    cursor: pointer;
}

p{
    font-size: 1rem;
    text-align: justify;
}

.cvImage{
    width: 30%;
    height: auto;
    margin: 0 0;
}

.hidden {
    display: none;
}

.opacity-Zero{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.opacity-100{
    opacity: 1;
    transition: opacity 0.3s ease;
}