* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-Dark{
    background-color: #1d1f21;
    color: #eaeaea;
}

.body-Light{
    background-color: #ffffff;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0rem 2rem 2rem 0rem;
}

.logo{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #f0b427;
    font-weight: bold;
    padding-right: 2rem;
}

.logo img {
    width: 1rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #f0b427;
    text-decoration: underline;
}

footer{
    color: #eaeaea70;
    margin: 1rem;
    padding: 1rem 0;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text{
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    margin: 1rem 0;
    text-align: center;
    display: inline-block;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgb(227,228,237,0.37);
    border: 2px solid rgb(255, 255, 255, 0.18);
}

.main{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title{
    width: 60%;
    height: auto;
    padding: 1rem 2rem;
    margin: 0.5rem 0rem;
    
    justify-content: center;
}

.section{
    width: 60%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 2rem;

    text-align: center;
    line-height: 1.5rem;
    text-indent: 1.5rem;
}

a.links {
    color: #e573ff;
    text-decoration: none;
    font-weight: bold;
}

a.links:hover {
    color: #ff99ff;
}

h1{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: justify;
}

h2{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: rgb(82,82,82);

    text-align: justify;

    margin: 0.7rem 0rem;
}

h3.subtitle{
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;

    margin: -0.5rem 0rem;
}

.button {
    background-color: #f0b427;
    padding: 10px 20px;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
    margin-top: 20px;

    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #9a741c;
}

p{
    font-size: 1rem;
    text-align: justify;
}

.cvImage{
    width: 30%;
    height: auto;
    margin: 0 0;
}

.lightMode{
    background-color: #f4c556;
    border: none;
    border-radius: 0.4rem;
    padding: .4rem .45rem;
    margin: -2rem 5rem;

    transition: background-color 0.5s ease;
}

.lightMode:hover{
    background-color: #d77e1f;

    transition: background-color 0.5s ease;
}

.darkMode{
    background-color: #ff99ff;
    border: none;
    border-radius: 0.4rem;
    padding: .4rem .45rem;
    margin: -2rem 5rem;

    transition: background-color 0.5s ease;
}

.darkMode:hover{
    background-color: #a056b0;

    transition: background-color 0.5s ease;
}

.lightMode img{
    rotate: 90deg;
}

.darkMode img{
    rotate: -90deg;
}

.rotate-90 {
    transform: rotate(90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.rotate-Negative90 {
    transform: rotate(-90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
}