/*Light and Dark Mode*/

.lightMode{
    background-color: #f4c556;
    border: none;
    border-radius: 0.4rem;
    padding: .4rem .45rem;
    margin: -2rem 0rem;

    transition: background-color 0.5s ease;
}

.lightMode:hover{
    background-color: #d77e1f;

    transition: background-color 0.5s ease;
}

.darkMode{
    background-color: #64b4e6;
    border: none;
    border-radius: 0.4rem;
    padding: .4rem .45rem;
    margin: -2rem 0rem;

    transition: background-color 0.5s ease;
}

.darkMode:hover{
    background-color: #0477be;

    transition: background-color 0.5s ease;
}

.lightMode img{
    rotate: 90deg;
}

.darkMode img{
    rotate: -90deg;
}

.rotate-90 {
    transform: rotate(90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.rotate-Negative90 {
    transform: rotate(-90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Body */

.body-Dark{
    background-color: #1d1f21;
    color: #eaeaea;

    transition: background-color 0.3s ease;
}

.body-Light{
    background-color: #f2efe9;
    color: #1d3557;

    transition: background-color 0.3s ease;
}

.header-Dark{
    background: #33333348;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #f0b427;
}

.header-Light{
    background: rgba(231, 227, 221, 0.346);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #64b4e6;
}

/* Footer */

.footer-Dark{
    color: #eaeaea70;
    transition: background-color 0.3s ease;
}

.footer-Light{
    color: #19191970;
    transition: background-color 0.3s ease;
}

/* Intro */

.intro-Dark{
    border: 2px solid rgb(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgb(227,228,237,0.37);

    transition: background-color 0.5s ease;
}

.intro-Light{
    border: 2px solid rgb(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgba(46, 46, 38, 0.37);

    transition: background-color 0.5s ease;
}

/* Links */
.link-Dark{
    color: #f0b427;
}

.link-Dark:hover{
    color: #8d6a17;
}

.link-Light{
    color: #64b4e6;
}

.link-Light:hover{
    color: #0477be;
}

/* Buttons */
.button-Dark{
    background-color: #f0b427;
    border: none;
}

.button-Dark:hover{
    background-color: #9a741c;
}

.button-Light{
    background-color:#64b4e6;
    border: none;
}

.button-Light:hover{
    background-color:#0477be;
}

/* Project Preview */

.preview-Dark{
    background-color: #333;
    border-color: #f0b427;
    color: white;
}

.preview-Light{
    background-color: #e7e3dd;
    border-color: #333;
    color: #1d3557;
}

/* Blog */

.blog-Card-Dark{
    background-color: #333;
    border-color: #f0b427;
}

.blog-Card-Light{
    background-color: #e7e3dd;
    border-color: #333;
}

.blog-Card-Light-Before::before {
    background: linear-gradient(45deg, #64b4e6, #e7e3dd);
}

.blog-Card-Dark-Before::before {
    background: linear-gradient(45deg, #f0b427, #333);
}

.card-Tag-Dark{
    background-color: #f0b427;
}

.card-Tag-Light{
    background-color: #64b4e6;
}

.blog-h4-Dark{
    color: #BBBBBB;
}

.blog-h4-Light{
    color: #333;
}

.blog-h2-Dark{
    color: #f0b427;
}

.blog-h2-Light{
    color: #64b4e6;
}

.read-More-Dark{
    color: #f0b427;
}

.read-More-Light{
    color: #64b4e6;
}

/* Contact Section */

.contact-Dark{
    border: 2px solid #f0b42771;
    box-shadow: 0px 0px 30px rgba(176, 174, 107, 0.37);
}

.contact-Light{
    border: 2px solid #64b4e6;
    box-shadow: 0px 0px 30px rgba(100, 180, 230, 0.37);
}

.form-TextArea-Dark{
    border: 1px solid #ccc;
    border: 2px solid #f0b42771;
}

.form-TextArea-Light{
    border: 1px solid #ccc;
    border: 2px solid #64b4e6;
}

.form-TextArea-Dark:hover{
    border: 2px solid #f0b427;
}

.form-TextArea-Light:hover{
    border: 2px solid #64b4e6;
}

.form-TextArea-Dark:focus{
    border: 2px solid #ba850a;
}

.form-TextArea-Light:focus{
    border: 2px solid #0477be;
}

.form-Input-Dark{
    border: 2px solid #f0b42771;
}

.form-Input-Light{
    border: 2px solid #64b4e6;
}

.form-Input-Dark:hover{
    border: 2px solid #f0b427;
}

.form-Input-Light:hover{
    border: 2px solid #64b4e6;
}

.form-Input-Dark:focus{
    border: 2px solid #ba850a;
}

.form-Input-Light:focus{
    border: 2px solid #0477be;
}

/* Empty */

.empty-Dark{
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.empty-Light{
    color: #333;
    transition: background-color 0.3s ease;
}

.empty-Selected{
    text-decoration: none;
}

.empty-Dark-Selected{
    color: #f0b427;
    transition: background-color 0.3s ease;
}

.empty-Light-Selected{
    color: #64b4e6;
    transition: background-color 0.3s ease;
}