/* Projects on Portfolio */
.projects{
    width: 60%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.project-preview {
    width: 20rem;
    height: 15rem;
    margin: 1rem 1rem;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    border-radius: 2rem;

    transition: width 0.5s ease;
}

.project-preview:hover{
    width: 25rem;
    transition: width 0.5s ease;
    cursor: pointer; 
}

.project-preview-info{
    font-size: 0.8rem;
    text-align: left;
}

.blank{
    width: 20rem;
    height: 15rem;
    margin: 1rem 1rem;
    padding: 1rem 2rem;

    background-color: rgba(51, 51, 51, 0);
}

.project-preview img {
    width: 100%;
    height: auto;
    max-height: 4rem;
    object-fit: contain;
    border-radius: 1.5rem; 
    margin-bottom: 1rem;
}