* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1d1f21;
    color: #eaeaea;
    line-height: 1.6;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1rem 2rem;
}

footer{
    color: #eaeaea70;
    margin: 1rem;
    padding: 1rem 0;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #eaeaea;
    font-weight: bold;
    padding-right: 2rem;
}

.logo img {
    width: 1rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    
}

nav ul li a:hover {
    color: #f0b427;
    text-decoration: underline;
}

.active {
    background-color: #f0b427;
    color: #1d1f21;
    border-radius: 0.5rem;
    font-size: 1rem;

    padding: 0rem .6rem;
    display: inline-block;

    font-weight: bold;
}

.section-title{
    width: 60%;
    height: auto;
    padding: 0rem 2rem;
    
    justify-content: center;
}

.section{
    width: 60%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem 2rem;

    text-align: center;
    line-height: 1.5rem;
    text-indent: 1.5rem;
}

.projects{
    width: 60%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.project-preview {
    width: 20rem;
    height: 15rem;
    margin: 1rem 1rem;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;

    background-color: #333;
    border-radius: 2rem;

    transition: width 0.5s ease;
}

.project-preview:hover{
    width: 25rem;
    transition: width 0.5s ease;
    cursor: pointer; 
}

.blank{
    width: 20rem;
    height: 15rem;
    margin: 1rem 1rem;
    padding: 1rem 2rem;

    background-color: rgba(51, 51, 51, 0);
}

.project-preview img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    align-self: center;
}

.project-preview img.goblin{
    width: 40%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

p{
    font-size: 0.8rem;
    text-align: left;
}

h2{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;
}

h3{
    padding: 0.5rem 0;

    font-size: 1rem;
    text-align: justify;

    text-decoration: underline;
    text-decoration-color: rgb(82,82,82);
    text-decoration-thickness: 0.15rem;
}