* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1rem 2rem 2rem 0rem;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.header-spacer {
    height: 3rem;
}

.logo {
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #f0b427;
    font-weight: bold;
    padding-right: 2rem;
}

.logo img {
    width: 1rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #f0b427;
    text-decoration: underline;
}

.empty-Button {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
}

footer {
    margin: 3rem;
    padding: 1rem 0;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title Section */

.title{
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    margin: 0;
}

.title-content{
    width: 60%;
    text-align: justify;
    margin-bottom: .5rem;
}

.title img{
    width: 60%;
    height: auto;
    border-radius: 2rem;
} 

.title h1{
    font-size: 2rem;
}

.title h2{
    font-size: 1.3rem;
}

.title h5{
    font-size: .8rem;
}

/* Article Section */

.article{
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    padding-top: 2rem;
}

.article-content{
    width: 60%;
    text-align: justify;
}

.article-content p{
    text-indent: 5%;
}

/* Image and Text */
.text-with-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 1rem 0;
    gap: 5rem;
}

.text-with-image img{
    width: 22%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}

/* Lists */
.skills{
    text-align: justify;
    margin-left: 5%;
    margin-top: 1rem;
}

/* Text Decorations */

.link{
    text-decoration: none;
    font-weight: bold;
    color: #f0b427;
}

.link:hover{
    color: #8d6a17;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.space{
    margin-top: 2rem;
}

.reference{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.reference img{
    width: auto;
    height: 100%;
}


@media (width < 768px) {
    .text-with-image{
        flex-direction: column;
    }

    .article-content,
    .title-content,
    .skills {
        text-align: left;
    }

    .text-with-image{
        gap: 1rem;
    }

    .text-with-image img{
        width: 50%;
        height: auto;
    }
}

@media (width < 530px){
    .article-content,
    .title-content,
    .skills {
        text-align: left;
    }

    .text-with-image{
        gap: 1rem;
    }

    .text-with-image img{
        width: 50%;
        height: auto;
    }
}