/* Slideshow container */
.slideshow-container {
    width: 50%;
    height: 20rem;
    margin-top: 2rem;
    align-self: center;
    align-items: center;
    border-radius: 2rem;
    justify-self: center;
}

/* Hide the images by default */
.mySlides {
    width: 100%;
    height: 20rem;
    display: none;
    position: relative;
}

.mySlides img{
    border-radius: 2rem;
    object-fit: contain;
    align-self: center;
}

.mySlides p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}